<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrintTextToPicture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrintTextToPicture.Properties.Settings>
            <setting name="SourceDir" serializeAs="String">
                <value>%USERPROFILE%\Pictures\Bilder_fuer_den_Bilderrahmen</value>
            </setting>
            <setting name="ProcessDir" serializeAs="String">
                <value>E:\</value>
            </setting>
            <setting name="OverrideDestination" serializeAs="String">
                <value>True</value>
            </setting>
        </PrintTextToPicture.Properties.Settings>
    </userSettings>
</configuration>